<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd
	                    http://www.springframework.org/schema/context
	                    http://www.springframework.org/schema/context/spring-context.xsd
	                    http://www.springframework.org/schema/aop
	                    http://www.springframework.org/schema/aop/spring-aop.xsd">  
	                    
	
	<!-- <bean id="t1" class="kr.hs.study.beans.TestBean1"/>-->
	<!--<bean id="t2" class="kr.hs.study.beans.TestBean1"/>두개 합치기-->
	
	<context:annotation-config/>
	<context:component-scan base-package="kr.hs.study.beans"/>
	<!-- beans 패키지 안에 있는 annotation을 분석해서 bean을 생성하고 관리하고 적절한 행동을 해라(@Lazy, @Scope) -->
	
	<!-- <context:component-scan base-package="kr.hs.study.config"/>
	<context:component-scan base-package="kr.hs.study.main"/> -->
	                    
</beans>